@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3 mx-auto">
        <div class="row">
            <form asp-action="Upload" enctype="multipart/form-data" asp-controller="Home" method="post">
                <input type="file" name="file"/>
                <input type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>