@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Classifier - Job Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <h2>File Classifier - Job Manager</h2>
        <hr/>
        @RenderBody()
        <br/>
        <footer class="border-top footer text-muted">
            <div class="container text-center">
                &copy; 2019 - <a href="http://www.jarredcapellman.com/">Jarred Capellman</a> | source code on <a href="https://github.com/jcapellman/FIle-Classifier">GitHub</a>
            </div>
        </footer>
    </div>
</body>
</html>